html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#profile-pic {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  margin: 0 20px;
  box-shadow: 5px 5px 30px orangered;
}

body {
  display: grid;
  background-image: url(./images/background.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
  grid-template-rows: 1fr 9fr 1fr;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  width: 100vw;

}

p {
  color: orangered;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 40px;
}

/* nav {
  display: inline-block;
} */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 0;
}

.logo {
  margin: 5px 20px;
}

.logo:hover {
  cursor: pointer;
}

ul {
  display: inline-block;
}

